
	<!DOCTYPE html>
	<html>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<head>
		<title>fundPaddy</title>
	</head>
	<body>	
		<h1> Hello Admin </h1>
		<p>
		You have a new signup on fundPaddy! <br/> <hr/>
		your platform is growing.
		</p>
		<p>
	Kindly login to the admin section to view new members details <a href="http://fundpaddy.com"> Login Now </a>
		</p>	
		<hr/>
		<%=@url%>

	
	</body>
	</html>


