// Place all the styles related to the Withdrawals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#withdraw-step .icon {
 background-color: #ffbc11;

}

.user-info {
	text-align: center;
}

.user-info img, .img-circled {
	 border-radius: 50%;
}