
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 col-sm-3">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="menu">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#banner">Home</a></li>
                                        <li><a href="#service">Service</a></li>
                                        <li><a href="#feature">Feature</a></li>
                                        <li><a href="#utility">Utility</a></li>
                                        <li><a href="#subscribe">Join</a></li>
                                    </ul>
                                  
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-3">
                    <ul class="social-info">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    


    <section id="banner" class="wow fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="block">
                        <img class="app-img img-responsive" src="images/app.png" alt="">
                    </div>
                    
                </div>
                <div class="col-md-6 col-md-offset-1 col-sm-6">
                    <div class="block">
                        <h1 class="styled" style="color:#f48e5c;">
                           FundPaddy, the home of peer to peer donations.
                        </h1> <hr/>
                        <p class="roboto">
                           FundPaddy is a peer-to-peer (member to member) donation platform. You Get twice(2x) your initial donation amount in less than 7 days. yes! "in less than 7 days". and we mean it.<br/><Br/>
                                                      Our platform supports five (5) different currencies accross the world including bitcoin(=B=).
                        </p>

                        <ul class="download-btn">
                            <li>
                                <a href="#" class="btn btn-default btn-apple"> <i class="fa fa-plus-circle"></i>Register</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-andriod"><i class="fa fa-sign-in"></i>Log in</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-windows"><i class="fa fa-send"></i>Invite</a>
                            </li>
                        </ul>
                        

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="service">
        <div class="container">
            <div class="service-wrapper">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay="1s">
                            <div class="icon">
                               <i class="fa fa-user-plus"></i> 
                            </div>
                            
                            <h3>Sign Up</h3>
                            <p>the first step to take is to Register. Create an account, add your details and mobile contact :).</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay="1.3s">
                            <div class="icon">
                                <i class="fa  fa-heart"></i>
                            </div>
                            <h3>Donate</h3>
                            <p>Select a donation plan, pledge to donate and complete donation process to appropriate member.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay="1.6s">
                            <div class="icon">
                                <i class="fa  fa-handshake-o"></i>
                            </div>
                            <h3>Receive Donation</h3>
                            <p>You will be paired with two (2) other members to pay you 100% interest on the amount you donated.</p>
                        </div>
                    </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="block wow fadeInRight" data-wow-delay="1.9s">
                            <div class="icon">
                                <i class="fa  fa-vcard-o"></i>
                            </div>
                            <h3>Acknowledge</h3>
                            <p>Contribute to the growth of the community by sharing your experience after receiving donation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
    





    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay=".8s">
                    <h2 class="title">How FundPaddy Works</h2>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Become a Member</h4>
                                <p>Every success story begins with an action, and for fundpaddy, that action is to "Register". Joining fundpaddy is simple. you can be up and running in a few minutes</p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Select a Donation Plan</h4>
                                <p>Choose a comfortable donation plan of your choice from our four (4) distinct donation plans that suits your social hierarchy</p>
                            </div>
                        </div>
                    </div>

                    <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-recycle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Donate</h4>
                                <p>After selecting a donation plan, you will be matched to make payment of your selected donation amount. which must be completed within 24 hours.</p>
                            </div>
                        </div>
                    </div>

                       <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Earn</h4>
                                <p>Within (1-7) days after making payment, you will be paired with two other fundPaddies who will make payment of your specified donation amount to you. making up 100% reward on your initial donation. i.e. Donate $20, get $40.</p>
                            </div>
                        </div>
                    </div>

                       <div class="feature-item">

                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Referral Earnings </h4>
                                <p>fundPaddy will reward you with 20% of the first deposit of all your referrals. So want to earn more? promote your referrals links more :)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
                    <div class="block">
                        <img class="img-responsive" src="images/featured-app.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="utility">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                    <img class="img-responsive img-circle" src="images/mockup.png" alt="">
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
                    <div class="block">
                        <h2>fundPaddy is flexible</h2>
                        <p>
                            Manage your donations independently and create as much as 3 multiple donations in your selected plan at each point in time. You can switch from one plan to another with ease :).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="utility-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
                    <div class="block">
                        <h2>Built by Humanitarians</h2>
                         <p>
                            fundPaddy is built by humanitarians and that is why the fundpaddy team is always seeking to know what its members and advisors think. You can send your suggestions and thoughts to the fundPaddy general message Board using the form below :)
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay=".8s">
                    <img class="img-responsive img-circle" src="images/app-screen.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <section id="subscribe" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay=".8s">
                    <div class="block">
                        <div class="title text-center">
                            <h2>Share your views & stay Connected</h2>
                            <p>Send a message, suggestion or idea to the fundPaddy general messageBoard :)</p>
                        </div>
                        
                        

                        <form class="form-inline text-center col-sm-12 col-xs-12" role="form">
                            
                            <div class="row">
                            <div class="col-sm-4 col-lg-4">
                            </div>
                            <div class="col-sm-4 col-lg-4">
                            <div class="form-group">
                                <input type="text" placeholder="your email" class="form-control" id="signup-form" >
                                
                                
                            </div> <hr/>
                             <div class="form-group">
                                <textarea type="text" name="thoughts" placeholder="Enter your thougts here :)" class="form-control" id="thoughts"> </textarea>
                                
                                
                            </div> <hr/>
                            <a href="" type="submit" class="btn btn-default btn-block btn-signup">
                                 <i class="fa fa-paper-plane"></i>
                            </a>
                            </div>
                            </div>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>

    <footer class="wow fadeInUp" data-wow-delay=".8s">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                        <a class="footer-logo"href="#">
                            <img class="img-responsive" src="images/footer-logo.png" alt="">
                        </a>
                    <p>Copyright © 2017 fundPaddy. All rights reserved. </p>
                    
                </div>
            </div>
        </div>
    </footer>